<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>StegaNono le petit robot</title>
    <script type="text/javascript">
    function ajax(){
        const img = document.getElementById('img').value;
        const msg = document.getElementById('msg').value;
        const pwd = document.getElementById('pwd').value;

        let xhr = new XMLHttpRequest(); // Creation d'un objet requete
        xhr.open('POST', 'stegano'); // Prepare une requete a envoyer en post au fichier de verif
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); //Envoit une requete avec des donnees en post ou get
        xhr.setRequestHeader('Controle-Cache', 'no-cache'); // Evite les enregistrements en caches

        xhr.onreadystatechange = function() { //'Chngement d'etat' de la variable
        if (xhr.readyState === 4){ // Verifie l'envoit de la requete/ 4 == DONE
            if (xhr.status === 200){ //Reponse de la requete http / 200 == http valide
                console.log('DONE');
            }
          }
        };

        xhr.send('img='+img+'&msg='+msg+'&pwd='+pwd); // envoit de la requete
      }

      function ajax_reverse(){

          let xhr = new XMLHttpRequest(); // Creation d'un objet requete
          xhr.open('POST', '/stegano_reverse'); // Prepare une requete a envoyer en post au fichier de verif
          xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); //Envoit une requete avec des donnees en post ou get
          xhr.setRequestHeader('Controle-Cache', 'no-cache'); // Evite les enregistrements en caches

          xhr.onreadystatechange = function() { //'Chngement d'etat' de la variable
          if (xhr.readyState === 4){ // Verifie l'envoit de la requete/ 4 == DONE
              if (xhr.status === 200){ //Reponse de la requete http / 200 == http valide
                console.log('DONE');
              }
            }
          };

          xhr.send(); // envoit de la requete
        }

    </script>
</head>
<body>
    <header><h1>Setganographie et Phiegranogaste </h1></header>
    <main>
        <h2>Creer une nouvelle image</h2>

        <form method="post" action="">
            <div id="div1-1">
                <label>Telechargez votre image</label>
                <input type="file" accept="image/bmp, image/png" id="img">
            </div>
            <div id="div1-2">
                <label>Saisisez votre message</label>
                <input type="text" name="message" >
            </div>
            <div id="div1-3">
                <label>Saisisez un mot de passe</label>
                <input type="text" name="password">
            </div>
            <div id="div1-4">
                <input type="Submit" name="Submit" value="Creer" onclick="ajax()">
            </div>
        </form>

        <h2>Decoder une image</h2>

        <form method="post" action="">
            <div id="div2-1">
                <label>Telechargez votre image contenant un message</label>
                <input type="file" name="img" accept="image/bmp, image/png" >
            </div>
            <div id="div2-2">
                <label>Saisisez le mot de passe associe</label>
                <input type="text" name="password">
            </div>
            <div id="div2-3">
                <input type="submit" name="" value="Decoder" onclick="ajax_reverse()">
            </div>
        </form>
        <div id="div3-1">
            <label>Resultat</label>
        </div>
        <div id="div3-2">
            <textarea id="Result" rows="10" cols="30" readonly></textarea>
        </div>
    </main>
    <footer></footer>
</body>
</html>
